/*   INDEX.HTML   */ 

body{
	margin: 0;
}

header{
	text-align: center;
	background-color: rgb(121, 145, 253);
    background: rgb(44,118,207);
    background: radial-gradient(circle, rgba(44,118,207,1) 0%, rgba(121,168,223,1) 50%, rgba(124,183,255,1) 100%);
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 1%;
    color: rgb(255, 255, 255);
}

main{
	background-color: lightblue;
	display: flex;
    flex-direction: column;
	height: 88%;
}

.MajorityOfCards{
    margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
}

.card1, .card2, .card3, .card4{
    border-radius: 40px;
    width: 23%;
    height: 95%;
    background-size: cover;
    background-position: center;
    transition: width 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    cursor: pointer;   
}

.cardtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    color: white;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: bold;
}

.card1:hover .cardtext, .card2:hover .cardtext, .card3:hover .cardtext, .card4:hover .cardtext {
    opacity: 1; 
}

.card1{
    background-image: url("images/shark.png");
}

.card2 {
    background-image: url("images/turtle.png");
}

.card3 {
    background-image: url("images/whale.png");
}

.card4 {
    background-image: url("images/fish.png");
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    width: 30%;
    transition: width 0.5s ease-in-out;
    transform: scale(1.05);
}

aside{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: bold;
    padding: 0 15% 0 15%;
}

footer{
    background-color: #c1c3c5;
    height: auto;
    padding: 7px 0 7px 10px;
}




/*   SHARK.HTML   */

.SharkCards{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.SharkCard1, .SharkCard2, .SharkCard3{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    width: 22%;
    height: 80%;
    background-color: #b0c1cf;
    margin-right: 2%;
    margin-left: 2%;
    border: solid 7px  rgb(30, 116, 214);
    border-radius: 40px;
}

.SharkImageArea{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.SharkImageArea .SharkImage1{
    width: 90%;
    height: 90%;
    background-image: url(images/shark.png);
    border: solid 3px  rgb(105, 152, 206);
    border-radius: 40px;
    background-size: fill;
    background-position: center;
}

.SharkTextArea{
    display: flex;
    flex-direction: column;
    height: 40%;
    align-items: center;
}

.SharkText{
    width: 95%;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    word-wrap: contain;
}









